<?xml version="1.0"?>
<launch>

  <!-- VALVE INDEX SPECS -->
  <arg name="interpupillar_distance" default="200.0"/>
  <arg name="cam_f" default="720"/>

  <!-- Launch Vive controllers topics pose, tf and buttons -->

  <rosparam param="/vive/world_offset">[0, 0, 0]</rosparam>
  <rosparam param="/vive/world_yaw">0.0</rosparam>
  <rosparam param="/vive/joy_pitch_deg">60</rosparam>

  <node name="vive_ctrl" pkg="vive_ros" type="vive_ctrl" launch-prefix="$(env HOME)/.steam/steam/ubuntu12_32/steam-runtime/run.sh" output="log" required="true">
  </node>
  
  <!-- Launch Vive Hmd topics -->
  <arg name="image_left" default="/videostream/left/compressed"/>
  <arg name="image_right" default="/videostream/right/compressed"/>
  <arg name="image_left_info" default="/videostream/left/camera_info" />
  <arg name="image_right_info" default="/videostream/right/camera_info" />


  <node name="vive_hmd" pkg="vive_ros" type="vive_hmd" launch-prefix="$(env HOME)/.steam//steam/ubuntu12_32/steam-runtime/run.sh" output="log" required="true">
    <param name="interpupillar_distance" value="$(arg interpupillar_distance)"/>
    <param name="cam_f" value="$(arg cam_f)"/>
    <remap from="~image_left" to="$(arg image_left)" />
    <remap from="~image_right" to="$(arg image_right)" />
    <remap from="~camera_info_left" to="$(arg image_left_info)" />
    <remap from="~camera_info_right" to="$(arg image_right_info)" />
  </node>

</launch>

