<?xml version="1.0"?>
<launch>

  <!-- Launch Vive controllers topics pose, tf and buttons -->
  <rosparam param="/vive/world_offset">[0, 0, 0]</rosparam>
  <rosparam param="/vive/world_yaw">0.0</rosparam>

  <node name="vive_ctrl" pkg="vive_ros" type="vive_ctrl" launch-prefix="$(env HOME)/.steam/ubuntu12_32/steam-runtime/run.sh" output="screen" required="true">
  </node>

  <!-- Launch Vive Hmd topics -->
  <arg name="image_left" default="/camera/left/compressed"/>
  <arg name="image_right" default="/camera/right/compressed"/>
  <arg name="image_left_info" default="/camera/left/camera_info" />
  <arg name="image_right_info" default="/camera/right/camera_info" />

  <node name="vive_hmd" pkg="vive_ros" type="vive_hmd" launch-prefix="$(env HOME)/.steam/ubuntu12_32/steam-runtime/run.sh" output="screen" required="true">
    <remap from="~image_left" to="$(arg image_left)" />
    <remap from="~image_right" to="$(arg image_right)" />
    <remap from="~camera_info_left" to="$(arg image_left_info)" />
    <remap from="~camera_info_right" to="$(arg image_right_info)" />
  </node>

</launch>


